<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="edu.fudan.hangout.controller"/>

    <mvc:annotation-driven/>

    <!--daos-->
    <bean id="userDao" class="edu.fudan.hangout.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userLogDao" class="edu.fudan.hangout.dao.impl.UserLogDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="friendshipDao" class="edu.fudan.hangout.dao.impl.FriendshipDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--services-->
    <bean id="loginService" class="edu.fudan.hangout.service.impl.LoginServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="userLogDao" ref="userLogDao"/>
    </bean>
    <bean id="signupService" class="edu.fudan.hangout.service.impl.SignupServiceImpl1">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="tokenService" class="edu.fudan.hangout.service.impl.TokenServiceImpl">
        <property name="userLogDao" ref="userLogDao"/>
    </bean>
    <bean id="userService" class="edu.fudan.hangout.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="friendshipService" class="edu.fudan.hangout.service.impl.FriendshipServiceImpl">
        <property name="friendshipDao" ref="friendshipDao"/>
    </bean>

    <!--data source-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://172.17.0.1:3306/fdu_hangout"/>
        <property name="username" value="mw"/>
        <property name="password" value="mw"/>
    </bean>

    <!-- session factory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <property name="mappingResources">
            <list>
                <value>datamap.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">

            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>


    </bean>
</beans>